<div id="homepage">
	<h1>Welcome to Tulip</h1>

	<div id="hero">
		<div class="slider">
			<%= link_to image_tag("photo.jpg"), "http://www.google.com" %>
		</div>
	</div>

	<div id="subhero">
		<div class="feature">This is a place for other content!</div>
		<div class="feature">This is a place for other content!</div>
		<div class="feature">This is a place for other content!</div>
	</div>
</div>


