<div id="homepage">
	<h1>TULIP</h1>

	<div id="hero">
		<div class="slider">
			<ul class="bxslider">
				<li><%= link_to image_tag("photo.jpg"), "http://www.google.com" %></li>
				<li><%= link_to image_tag("photo1.jpg"), "http://www.google.com" %></li>
				<li><%= link_to image_tag("photo2.jpg"), "http://www.google.com" %></li>
			</ul>
		</div>
	</div>

	<div id="subhero">
		<div class="feature">This is a place for other content!</div>
		<div class="feature">This is a place for other content!</div>
		<div class="feature">This is a place for other content!</div>
	</div>
</div>


