<div class="hero">
    <p>Hey, you with the teeth!</p>
    <p>Tulip is coming.</p>
</div>

<div>
    <% if !Rails.application.config.ended %>
        <p>Be the first to know</p>
        <%= form_for @preuser, url: { controller: "preusers", action: "create" } do |f| %>
            <%= f.text_field :email, :placeholder => "Your Email Address" %>
            <%= f.hidden_field :referrer_id, value: params[:ref] %>
            <%= f.submit 'I WANT IN' %>
        <% end %>
    <% end %>
</div>