/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *



 */

/**
 * BxSlider v4.0 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2012
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */


/** RESET AND LAYOUT
===================================*/


.bx-wrapper {
	position: relative;
	margin: 0 auto 60px;
	padding: 0;
	*zoom: 1;
}

.bx-wrapper img {
	max-width: 100%;
	display: block;
}

/** THEME
===================================*/

.bx-wrapper .bx-viewport {
	-moz-box-shadow: 0 0 5px #ccc;
	-webkit-box-shadow: 0 0 5px #ccc;
	box-shadow: 0 0 5px #ccc;
	border: solid #fff 5px;
	left: -5px;
	background: #fff;
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
	position: absolute;
	bottom: -30px;
	width: 100%;
}

/* LOADER */

.bx-wrapper .bx-loading {
	min-height: 50px;
	background: url(/assets/bx_loader.gif) center center no-repeat #fff;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}

/* PAGER */

.bx-wrapper .bx-pager {
	text-align: center;
	font-size: .85em;
	font-family: Arial;
	font-weight: bold;
	color: #666;
	padding-top: 20px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	background: #666;
	text-indent: -9999px;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	outline: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #000;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
	left: 10px;
	background: url(/assets/controls.png) no-repeat 0 -32px;
}

.bx-wrapper .bx-next {
	right: 10px;
	background: url(/assets/controls.png) no-repeat -43px -32px;
}

.bx-wrapper .bx-prev:hover {
	background-position: 0 0;
}

.bx-wrapper .bx-next:hover {
	background-position: -43px 0;
}

.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 50%;
	margin-top: -16px;
	outline: 0;
	width: 32px;
	height: 32px;
	text-indent: -9999px;
	z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}

/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {
	text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
	display: block;
	text-indent: -9999px;
	width: 10px;
	height: 11px;
	outline: 0;
	background: url(/assets/controls.png) -86px -11px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
	background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
	display: block;
	text-indent: -9999px;
	width: 9px;
	height: 11px;
	outline: 0;
	background: url(/assets/controls.png) -86px -44px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
	background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	text-align: left;
	width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
	right: 0;
	width: 35px;
}

/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #666\9;
	background: rgba(80, 80, 80, 0.75);
	width: 100%;
}

.bx-wrapper .bx-caption span {
	color: #fff;
	font-family: Arial;
	display: block;
	font-size: .85em;
	padding: 10px;
}
/* line 1, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html, body {
  margin: 0;
  padding: 0;
  font-family: Gill Sans;
}
/* line 6, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html header, body header {
  display: block;
  position: fixed;
  width: 100%;
  background-color: white;
  opacity: 1;
  z-index: 1000;
  margin: 0;
  padding: 0;
  border-bottom: 1px black solid;
}
/* line 17, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html header ul, body header ul {
  text-align: right;
  margin: 4px 20px 2px 0;
  padding: 0;
}
/* line 22, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html header ul li, body header ul li {
  display: inline-block;
  margin: 0;
  padding: 0 10px;
  list-style: none;
}
/* line 28, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html header ul li a, body header ul li a {
  text-decoration: none;
  color: black;
}
/* line 33, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html header ul li a:hover, body header ul li a:hover {
  color: #6c7b8b;
}
/* line 40, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html #homepage, body #homepage {
  text-align: center;
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 85vw;
  top: 10vh;
}
/* line 49, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html #homepage h1, body #homepage h1 {
  margin: 0;
  padding: 0;
  font-weight: 500;
  letter-spacing: -1px;
  font-size: 2.5em;
}
/* line 57, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html #homepage h3, html #homepage h4, body #homepage h3, body #homepage h4 {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  top: 6vh;
}
/* line 65, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html #homepage table#special, body #homepage table#special {
  width: 100%;
}
/* line 69, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html #homepage td#inlineheader, body #homepage td#inlineheader {
  text-align: right;
  padding: 0 55px 0 0;
}
/* line 74, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html #homepage span.pagebreak, body #homepage span.pagebreak {
  display: block;
  position: relative;
  width: 100%;
  height: 1em;
  border-bottom: 1px black solid;
}
/* line 82, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html #homepage a.order, body #homepage a.order {
  font-size: 1em;
}
/* line 86, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html #homepage td#profile a, body #homepage td#profile a {
  font-size: 1em;
  margin: 0;
  padding: 0;
}
/* line 92, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html #homepage h5 a, body #homepage h5 a {
  font-size: 1em;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
/* line 99, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html #homepage h5 a:hover, body #homepage h5 a:hover {
  color: #6c7b8b;
}
/* line 103, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html #homepage table, body #homepage table {
  width: 100%;
  text-align: left;
  margin: 0 auto;
}
/* line 108, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html #homepage table td, body #homepage table td {
  vertical-align: top;
  padding: 0 10px;
  color: #6c7b8b;
}
/* line 114, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html #homepage table td.index, body #homepage table td.index {
  text-align: center;
  color: #6c7b8b;
}
/* line 118, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html #homepage table td.index a, body #homepage table td.index a {
  font-size: 1em;
  text-decoration: none;
  color: #6c7b8b;
}
/* line 125, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html #homepage table td.product, body #homepage table td.product {
  vertical-align: middle;
  text-align: center;
}
/* line 130, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html #homepage table th, body #homepage table th {
  text-align: center;
  padding: 0 60px;
}
/* line 135, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html #homepage table img, body #homepage table img {
  width: 20vw;
  height: 20vw;
  border: 1px black dashed;
}
/* line 144, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html #homepage img.productphoto, body #homepage img.productphoto {
  width: 20vw;
  height: 20vw;
  border: 1px black dashed;
  display: inline-block;
  position: relative;
}
/* line 152, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html #homepage div.description, body #homepage div.description {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  top: -50%;
  text-align: left;
}
/* line 160, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html #homepage div.description h1, html #homepage div.description h3, body #homepage div.description h1, body #homepage div.description h3 {
  display: inline;
  position: relative;
  top: -10vw;
  margin: 0;
  padding: 0;
}
/* line 168, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html #homepage div.description p, body #homepage div.description p {
  position: relative;
  margin: 0;
  padding: 0;
  top: -10vw;
}
/* line 176, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html #homepage a, body #homepage a {
  display: inline-block;
  margin: 5px 10px;
  font-size: 0.75em;
}
/* line 182, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html #homepage table.applyform, body #homepage table.applyform {
  border: 2px #e3dbdb solid;
  border-collapse: collapse;
  margin: 0 auto;
  margin-top: 5vh;
  width: 75%;
}
/* line 189, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html #homepage table.applyform td, body #homepage table.applyform td {
  border-right: 2px #e3dbdb solid;
  padding: 10px;
  text-align: left;
  vertical-align: top;
}
/* line 196, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html #homepage table.applyform input, body #homepage table.applyform input {
  display: block;
  width: 75%;
}
/* line 201, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html #homepage table.applyform input.button, body #homepage table.applyform input.button {
  margin: 0 auto;
  margin-top: 4.5%;
  background-color: #eee9e9;
  border-radius: 5px;
  width: 25%;
}
/* line 209, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html #homepage table.applyform label, body #homepage table.applyform label {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0 0 0 3px;
}
/* line 217, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html #homepage div#hero, body #homepage div#hero {
  display: block;
  width: 100%;
  height: 70vh;
  overflow: hidden;
}
/* line 227, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html #homepage div#hero .left, html #homepage div#hero .right, body #homepage div#hero .left, body #homepage div#hero .right {
  display: inline-block;
  position: relative;
  margin: 0 -1.5vw;
  padding: 0;
  top: 40vh;
  position: absolute;
  z-index: 999;
}
/* line 237, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html #homepage div#hero .bx-viewport, body #homepage div#hero .bx-viewport {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 243, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html #homepage div#hero img.arrow, body #homepage div#hero img.arrow {
  width: 3vw;
}
/* line 248, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html #homepage div#hero div.slider, body #homepage div#hero div.slider {
  position: realtive;
  display: inline-block;
  width: 80%;
  padding: 0;
}
/* line 254, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html #homepage div#hero div.slider img, body #homepage div#hero div.slider img {
  position: relative;
  display: block;
  width: 100%;
  height: 70vh;
  margin: 0;
  padding: 0;
}
/* line 265, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html #homepage div#subhero, body #homepage div#subhero {
  margin: 0 auto;
  padding: 0;
}
/* line 269, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html #homepage div#subhero div.feature, body #homepage div#subhero div.feature {
  display: inline-block;
  position: relative;
  border: 1px red dashed;
  width: 32.55%;
  height: 20vh;
  margin: 16px 2px;
  padding: 30vh 0;
}
