/* line 1, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html, body {
  margin: 0;
  padding: 0;
  font-family: Gill Sans;
}
/* line 6, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html header, body header {
  display: block;
  position: fixed;
  width: 100%;
  background-color: white;
  opacity: 1;
  z-index: 1000;
  margin: 0;
  padding: 0;
  border-bottom: 1px black solid;
}
/* line 17, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html header ul, body header ul {
  text-align: right;
  margin: 4px 20px 2px 0;
  padding: 0;
}
/* line 22, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html header ul li, body header ul li {
  display: inline-block;
  margin: 0;
  padding: 0 10px;
  list-style: none;
}
/* line 28, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html header ul li a, body header ul li a {
  text-decoration: none;
  color: black;
}
/* line 33, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html header ul li a:hover, body header ul li a:hover {
  color: #6c7b8b;
}
/* line 40, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html #homepage, body #homepage {
  text-align: center;
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 85vw;
  top: 10vh;
}
/* line 49, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html #homepage h1, body #homepage h1 {
  margin: 0;
  padding: 0;
}
/* line 54, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html #homepage h3, html #homepage h4, body #homepage h3, body #homepage h4 {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  top: 6vh;
}
/* line 62, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html #homepage table#special, body #homepage table#special {
  width: 100%;
}
/* line 66, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html #homepage td#inlineheader, body #homepage td#inlineheader {
  text-align: right;
  padding: 0 55px 0 0;
}
/* line 71, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html #homepage span.pagebreak, body #homepage span.pagebreak {
  display: block;
  position: relative;
  width: 100%;
  height: 1em;
}
/* line 78, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html #homepage a.order, body #homepage a.order {
  font-size: 1em;
}
/* line 82, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html #homepage table, body #homepage table {
  width: 100%;
  text-align: left;
  margin: 0 auto;
}
/* line 87, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html #homepage table td, body #homepage table td {
  vertical-align: top;
  padding: 0 10px;
  color: #6c7b8b;
}
/* line 93, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html #homepage table td.index, body #homepage table td.index {
  text-align: center;
  color: #6c7b8b;
}
/* line 97, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html #homepage table td.index a, body #homepage table td.index a {
  font-size: 1em;
  text-decoration: none;
  color: #6c7b8b;
}
/* line 104, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html #homepage table td.product, body #homepage table td.product {
  vertical-align: middle;
  text-align: center;
}
/* line 109, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html #homepage table th, body #homepage table th {
  text-align: center;
  padding: 0 60px;
}
/* line 114, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html #homepage table img, body #homepage table img {
  width: 20vw;
  height: 20vw;
  border: 1px black dashed;
}
/* line 123, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html #homepage img.productphoto, body #homepage img.productphoto {
  width: 20vw;
  height: 20vw;
  border: 1px black dashed;
  display: inline-block;
  position: relative;
}
/* line 131, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html #homepage div.description, body #homepage div.description {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  top: -50%;
  text-align: left;
}
/* line 139, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html #homepage div.description h1, html #homepage div.description h3, body #homepage div.description h1, body #homepage div.description h3 {
  display: inline;
  position: relative;
  top: -10vw;
  margin: 0;
  padding: 0;
}
/* line 147, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html #homepage div.description p, body #homepage div.description p {
  position: relative;
  margin: 0;
  padding: 0;
  top: -10vw;
}
/* line 155, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html #homepage a, body #homepage a {
  display: inline-block;
  margin: 5px 10px;
  font-size: 0.75em;
}
/* line 161, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html #homepage table.applyform, body #homepage table.applyform {
  border: 2px #e3dbdb solid;
  border-collapse: collapse;
  margin: 0 auto;
  margin-top: 5vh;
  width: 75%;
}
/* line 168, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html #homepage table.applyform td, body #homepage table.applyform td {
  border-right: 2px #e3dbdb solid;
  padding: 10px;
  text-align: left;
  vertical-align: top;
}
/* line 175, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html #homepage table.applyform input, body #homepage table.applyform input {
  display: block;
  width: 75%;
}
/* line 180, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html #homepage table.applyform input.button, body #homepage table.applyform input.button {
  margin: 0 auto;
  margin-top: 4.5%;
  background-color: #eee9e9;
  border-radius: 5px;
  width: 25%;
}
/* line 188, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html #homepage table.applyform label, body #homepage table.applyform label {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0 0 0 3px;
}
/* line 196, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html #homepage div#hero, body #homepage div#hero {
  display: block;
  width: 100%;
  height: 70vh;
  overflow: hidden;
  background-color: #eee9e9;
}
/* line 203, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html #homepage div#hero div.slider, body #homepage div#hero div.slider {
  position: realtive;
  display: block;
  width: 80%;
  margin: 0 auto;
  padding: 0;
}
/* line 210, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html #homepage div#hero div.slider img, body #homepage div#hero div.slider img {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 70vh;
}
/* line 217, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html #homepage div#hero div.slider div.button, body #homepage div#hero div.slider div.button {
  position: relative;
  display: inline-block;
  margin: 0 25px;
}
/* line 223, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html #homepage div#hero div.slider a#buttons, body #homepage div#hero div.slider a#buttons {
  display: inline-block;
  position: relative;
  z-index: 999;
  background-color: white;
  top: -20vh;
  color: #6c7b8b;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px black solid;
}
/* line 237, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html #homepage div#subhero, body #homepage div#subhero {
  margin: 0 auto;
  padding: 0;
}
/* line 241, /Users/Daniel/rails_projects/Tulip/app/assets/stylesheets/custom.css.scss */
html #homepage div#subhero div.feature, body #homepage div#subhero div.feature {
  display: inline-block;
  position: relative;
  border: 1px red dashed;
  width: 32.55%;
  height: 20vh;
  margin: 16px 2px;
  padding: 30vh 0;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

