<div id="homepage">
	<table>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Address</th>
		</tr>
		<% @user.each do |z| %>
			<tr>
				<td class="index"><%= link_to "#{z.first} #{z.last}", z %></td>
				<td class="index"><%= z.email %></td>
				<td class="index">
					<% if z.apt %>
						<%= z.street + ", " + z.apt + ", " + z.city + ", " + z.state + " " + z.zip %>
					<% else %>
						<%= z.street + ", " + z.city + ", " + z.state + " " + z.zip %>
					<% end %>
				</td>
			</tr>
		<% end %>
	</table>
</div>