<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
	<p>Wow.  50+ referrals.  Support from people like you will make the new era of oral care a reality sooner than expected.  So...thank you!</p>

	<p>And because you most certainly earned it, look forward to a whole year of Tulip products.  We’ll keep you posted on redemption as we get closer to launch.</p>

	<p>Keep flossin’,</p>
	<p>Sanjiv and Cathy</p>
	<p>Co-founders at Tulip</p>
	<p>Follow Us | <a href="https://www.facebook.com/TulipClean/">Facebook</a> | <a href="https://twitter.com/tulipclean">Twitter</a> | <a href="https://instagram.com/tulipclean/">Instagram</a></p>
	</body>
</html>