<!DOCTYPE html>
<html>
<body style = "background-color: #f7F3F2;">
<br>
<div style="text-align: center; height: 20px"><%= image_tag "tulip-logo-blue.png", style: "height: 40px;" %></div>
<br>
<br>
<p>Wow.  50+ referrals.  Support from people like you will make the new era of oral care a reality sooner than expected.  So...thank you!</p>

<p>And because you most certainly earned it, look forward to <span style="color: #4F6177; font-weight: bold">a whole year of Tulip products</span>.  We’ll keep you posted on redemption as we get closer to launch.</p>
<br>
<p>Keep flossin’,<br>
Sanjiv and Cathy<br>
Co-founders at Tulip<br>
Follow Us | <a href="https://www.facebook.com/TulipClean/">Facebook</a> | <a href="https://twitter.com/tulipclean">Twitter</a> | <a href="https://instagram.com/tulipclean/">Instagram</a></p>
</body>
</html>