<!DOCTYPE html>
<html>
<body style = "background-color: #f7F3F2;">
<br>
<div style="text-align: center; height: 20px"><%= image_tag "tulip-logo-blue.png", style: "height: 40px;" %></div>
<br>
<br>
<p>You are awesome. You’ve referred 10 people to Tulip!</p>

<p>As a token of our appreciation, you’ve earned a <span style="color: #4F6177; font-weight: bold">set of Toothpaste and Floss</span>! Isn’t free stuff great?  We’ll keep you posted on redemption as we get closer to launch.</p>

<p>If you love free stuff like we do, keep it up.  You’re next reward - <span style="text-decoration: underline;">a 6 month supply of Tulip products</span> -  awaits!  Click below or share your referral code: <a href="http://www.tulipclean.com/?ref=<%= @preuser.referral_code %>">http://www.tulipclean.com/?ref=<%= @preuser.referral_code %></a></p>

	<p><%= mail_to "", "Share some more!", subject: "By Invitation Only", body: "Hey!  I just signed up for Tulip.  Join the oral care revolution and as an added bonus, get free stuff :)\r\n\r\nUse my referral code:\r\nhttp://www.tulipclean.com/?ref=" + "#{@preuser.referral_code}!" %></p>

	<p>Keep flossin’,</p>
	<p>The Tulip Team</p>
	<p>Follow Us | <a href="https://www.facebook.com/TulipClean/">Facebook</a> | <a href="https://twitter.com/tulipclean">Twitter</a> | <a href="https://instagram.com/tulipclean/">Instagram</a></p>
	</body>
</html>