<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
	<p id="emailbreak">Hi, welcome to the Tulip community! We're excited that you’ve decided to join us in shaking up the oral care industry. Our team of dentists, chemists and designers have been working hard to give your oral care products a much needed face lift.</p>

	<p>Although we won't officially launch until early next year, we would love if you could help us get the word out beforehand. As an added bonus, you’ll earn free Tulip product and receive it before launch! Simply go to www.tulipclean.com and directly share your referral code. We’ve also pasted it below for ease!</p>

	http://www.tulipclean.com/?ref=<%= @preuser.referral_code %>

	<p>Lastly, we value feedback.  Our products were developed with input from hundreds of people. So, if you have any thoughts, opinions or feedback about Tulip, our products, the industry, your neighbors, or just about anything, please feel free to reach out to us at founders@tulipclean.com. It will be read, considered and replied to. You have our word.</p>

	<p>Thanks again.</p>

	<p>Stay fresh,<br>
	Sanjiv Sanghavi & Cathy Gaito<br>
	Co-founders @ Tulip</p>

  </body>
</html>