<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Tulip, <%= @user.first %>!</h1>

    <p>You have successfully signed up for Tulip. See your referal code below.</p>

    <p>Thanks for joining, we'll be in touch soon!</p>

  </body>
</html>