/**************************************
GENERAL STYLES 
**************************************/
body {
	background-color: #E3F6FA;
	color: #2D4974;
	margin: 0;
	padding: 0;
	font-family: "Sentinel SSm A", "Sentinel SSm B";
	font-style: normal;
	font-weight: 300;

	section#prehome {
		position: relative;
		height: 100vh;
		margin: 0;
		padding: 0;
		max-width: 90%;
		margin: 0 auto;
	}

/**************************************
PREHOME HERO STYLES 
**************************************/
	
	div.prehero {
		display: block;
		margin-top: -5%;
	}

	div.prehero div.text {
		margin: 13% auto 0;
		width: 100%;
	}

	div.prehero div.image {
		margin: 30% 0 0 0;
		padding: 0;
		width: 100%;
	}

	div.prehero div.image img {
		width: 100%;
		margin: 0;
		padding: 0;
	}

	div.prehero h1 {
		font-size: 2.75em;
		margin: 0 0 0.6em 0;
		padding: 0;
		line-height: 1.2;
		font-family: "Sentinel SSm A", "Sentinel SSm B";
		font-style: normal;
		font-weight: 300;
		display: inline-block;
	}

	div.prehero h2 {
		font-size: 1.125em;
		color: #00B7DE;
		line-height: 1.75;
		margin: 0;
		padding: 0;
		font-family: "Gotham SSm A", "Gotham SSm B";
		font-style: normal;
		font-weight: 300;
		display: inline-block;

		span {
			font-weight: bold;
			margin: 0;
			padding: 0;
		}
	}

/**************************************
PREHOME FORM STYLES
**************************************/
	

	form.new_preuser {
		position: absolute;
		top: 35%;
		width: 100%;
		padding-top: 5%;

		input#preuser_email {
			font-size: 1.125em;
			background-color: #E3F6FA;
			border: none;
			border-bottom: 3px solid #2D4974;
			border-bottom-style: dotted;
			padding: 0 0 7px;
			margin: 0;
			width: 100%;
			font-family: "Gotham SSm A", "Gotham SSm B";
			font-style: normal;
			font-weight: 400;
		}
		input::-webkit-input-placeholder {
			color: #89A1B9;
			background-color: #E3F6FA;
			border: none;
		}
		input:-moz-placeholder {
    		color: #89A1B9;
    		background-color: #E3F6FA;
    		border: none;
		}

		input.button {
			border-radius: 5px;
			background-color: #2C4977;
			color: white;
			border: 1px black solid;
			font-size: 0.8125em;
			padding: 19px 30px;
			letter-spacing: 1px;
			margin: 35px 0 0 0;
			display: block;
		}
	}
}

@media screen and (min-width: 480px) {
	div.prehero div.text {
		max-width: 55%;
		float: left;
		display: inline-block;
	}

	div.prehero div.image {
		max-width: 45%;
		float: right;
		margin: 6.5% 0 0 0 !important;
		display: inline-block;
	}

	form.new_preuser {
		display: block;
		position: relative !important;
		top: 60%;
		width: 100%;
		margin: 0;
		clear: both;
	}	
}

/**************************************
PREHOME MEDIA QUERIES
**************************************/

@media screen and (min-width: 660px) {
	div.prehero div.text {
		max-width: 68% !important;
		padding: 5% 0 0 0 !important;
	}

	div.prehero div.image {
		width: 31.25% !important;
		margin: 6.5% 0 0 0 !important;
		padding: 0 !important;
	}

	div.prehero div.text h1 {
		font-size: 4.5em !important;
		margin: 0 0 0.4em 0 !important;
		padding: 0 0 0 6% !important;
		font-family: "Sentinel SSm A", "Sentinel SSm B";
		font-style: normal;
		font-weight: 300;
	}

	div.prehero div.text h2 {
		font-size: 1.25em;
		margin: 0 0 0.6em 0;
		padding: 0 0 0 6% !important;
		line-height: 1.2;
		font-family: "Gotham SSm A", "Gotham SSm B";
		font-style: normal;
		font-weight: 400;
	}

	form.new_preuser {
		display: block;
		top: 0;
		width: 100%;
		margin: 0;
		clear: left;
		padding: 0 0 0 4%;

		input#preuser_email {
			display: inline-block;
			width: 35% !important;
		}
	}
}

@media screen and (min-width: 1237px) {
	form.new_preuser {

		input#preuser_email {
			width: 27.5% !important;
		}
	}
}

/**************************************
REFER STYLES
**************************************/

section#refer{ 
	background-color: #fff;
	margin: 0;
	padding: 0;

	.mobileonly {
		display: none !important;
	}

/**************************************
REFER HEADER STYLES
**************************************/

	header#refhome{
		height: 55px;
		color: #fff;
		background-color: #2D4974;
		font-size: 15px;
		margin: 0;
		padding: 15px 0 17.5px 0;
		display: block;
		position: relative;
		text-align: center;
		box-sizing: border-box;

		#placenum {
			color: #00B7DE;
			font-size: 20px;
			margin: 0;
			padding: 0;
			font-family: "Gotham SSm A", "Gotham SSm B";
			font-style: normal;
			font-weight: 700;
		}

		.place {
			display: inline-block;
			display: absolute;
			text-transform: uppercase;
			margin: 0;
			padding: 0;
			font-family: "Gotham SSm A", "Gotham SSm B";
			font-style: normal;
			font-weight: 700;
		}
	}

/**************************************
REFER HERO STYLES
**************************************/

	.hero {
		background-color: #E3F6FA;
		margin: 0;
		padding: 0;
		text-align: center;
		height: 275px;

		h1 {
			margin: 0;
			padding: 45px 0 0 0;
			font-size: 45px;
			font-family: "Sentinel SSm A", "Sentinel SSm B";
			font-style: normal;
			font-weight: 100;
		}

		p {
			margin: 10px 0 -5px 0;
			padding: 0;
			font-size: 20px;
			color: #00B7DE;
			font-family: "Gotham SSm A", "Gotham SSm B";
			font-style: normal;
			font-weight: 500;
		}

		img {
			margin: 0 0 -23px 0;
			padding: 20px 5px 0 5px;
			width: 60px;
		}

		.share {
			display: inline-block;
			margin: 0;
			padding: 0;

			p {
				background-color: #fff;
				font-size: 20px;
				color: #2D4974;
				margin: 0;
				padding: 20px 30px;
			}
		}
	}

/**************************************
REFER PRIZE PROGRESS STYLES
**************************************/

	section#prizehero {
		margin: 0 auto;
		padding: 0;
		width: 85%;
		text-align: center;
		
		p {
			font-family: "Gotham SSm A", "Gotham SSm B";
			font-style: normal;
			font-weight: 500;
			color: #2D4974;
		}

		.progress {
			width: 100%;
			height: 26px;
			margin: 0;
			padding: 0;
			border: 1px #2D4974 solid;
			border-radius: 15px;

			p {
				margin: 1px 0 0 0;
				padding: 3px 0 3px 0;
				color: #00B7DE;
				font-size: 15px;
				font-family: "Gotham SSm A", "Gotham SSm B";
				font-style: normal;
				font-weight: 500;
			}

			div.counter {
				position: relative;
				background: #fff;
				display: inline-block;
				margin: 0;
				padding: 0;
				width: 23%;
				height: 26px;
			}
			div.counter:after, div.counter:before {
				left: 100%;
				top: 50%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				z-index: 100;
			}
			div.counter:after {
				border-color: rgba(255, 255, 255, 0);
				border-left-color: #ffffff;
				border-width: 12px;
				margin-top: -12px;
				z-index: 100;
			}
			div.counter:before {
				border-color: rgba(45, 73, 116, 0);
				border-left-color: #2D4974;
				border-width: 13px;
				margin-top: -13px;
				z-index: 100;
			}
			div.final:before, div.final:after {
				border: none;
			}

			div.selected {
				position: relative;
				background: #00B7DE;
				display: inline-block;
				margin: 0 0 0 -3px;
				padding: 0;
				opacity: 1.4;
			}
			div.selected:nth-of-type(1n) {
				max-width: 23%;
			}
			div.selected:after, div.selected:before {
				left: 100%;
				top: 50%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				z-index: 100;
			}
			div.selected:after {
				border-color: rgba(255, 165, 0, 0);
				border-left-color: #00B7DE;
				border-width: 12px;
				margin-top: -12px;
				z-index: 100;
			}
			div.selected:before {
				border-color: rgba(45, 73, 116, 0);
				border-left-color: #E3F6FA;
				border-width: 13px;
				margin-top: -13px;
				z-index: 100;
			}
			div.selected p {
				color: #fff;
			}
			div#first {
				display: block;
				background-color: #00B7DE;
				position: relative;
				width: 200px;
				height: 26px;
				margin: 0 0 -26px -1px;
				padding: 0;
				border-radius: 15px;
			}
			div#close {
				display: inline-block;
				background-color: #00B7DE;
				position: relative;
				width: 26px;
				height: 26px;
				margin: -26px -1px 0 -1px;
				padding: 0 0 0 10px;
				border-radius: 15px;
				float: right;
				z-index: 101;
			}
		}

/**************************************
REFER PRIZE STYLES
**************************************/

		.prizes {
			width: 100%;

			ul {
				list-style: none;
				margin: 20px 0 0 0;
				padding: 0;
				display: inline-block;

				li {
					margin: 5px 0;
					padding: 0;
					border: 2px #2D4974 solid;
					max-width: 70%;
					display: inline-block;
					border-radius: 7px;
					opacity: 0.4;

					div.prizephoto { 
						width: 85%;
						height: 85%;
						margin: 0 auto;

						img {
							max-width: 100%;
							height: auto;
							margin: 0;
							padding: 0;
						}
					}

					h2.prizecount {
						color: #2D4974;
						position: relative;
						font-size: 40px;
						font-family: "Gotham SSm A", "Gotham SSm B";
						font-style: normal;
						font-weight: 400;
						margin: 30px 0 -30px 0;
						padding: 0;
						z-index: 100;
					}
					p.prizedesc {
						color: #2D4974;
						font-size: 16px;
						font-family: "Gotham SSm A", "Gotham SSm B";
						font-style: normal;
						font-weight: 400;
						margin: -30px 0 30px 0;
						padding: 0;
						z-index: 100;
					}
					div.circle {
						width: 2.5em;
						height: 2.5em;
						border: 2px #2D4974 solid;
						margin: 0 auto 25px;
						padding: 0;
						border-radius: 100%;
					}

					div.circle img {
						width: 2.5em;
						height: 2.5em;
					}
				}

				li.selected {
					opacity: 1;
					border: none;
				}

				li.selected:nth-of-type(1n) {
					background-color: #98E02C;
				}

				li.selected:nth-of-type(2n) {
					background-color: #FDDA31;
				}

				li.selected:nth-of-type(3n) {
					background-color: #FFA691;
				}

				li.selected:nth-of-type(4n) {
					background-color: #FC7F3A;
				}

				.checked {
					background-color: #fff;
					border: 2px #fff solid !important;
				}
			}
		}
	}
}

@media screen and (min-width: 480px) {
	section#refer {

		.progress {
			display: block !important;
		}
			
		.hero {
			height: 325px;

			h1 {
				padding: 45px 0 5px 0;
				font-size: 60px;
			}

			p {
				margin: 10px 0 0 0;
				padding: 0;
			}

			.share {

				p {
					display: none;
				}
			}
		}
	}
}

@media screen and (min-width: 892px) {
	section#refer {

		.hero {
			height: 375px;

			h1 {
				padding: 60px 0 25px 0;
				font-size: 60px;
			}

			p {
				margin: 4.5% 0;
				padding: 0;
			}
		}
	}
}

@media screen and (min-width: 1081px) {
	section#refer {

		section#prizehero {

			.progress {

				div.counter {
					width: 24%;
				}
			}
		}

		.hero {
			height: 375px;

			h1 {
				padding: 60px 0 25px 0;
				font-size: 60px;
			}

			p {
				margin: 2.5% 0;
				padding: 0;
			}

			.share {

				p {
					display: inline-block;
				}
			}
		}
	}

	@media screen and (min-width: 1139px) {
			section#refer {

				section#prizehero {
					.prizes {
						ul{
							li{
								max-width: 20%;

								p.prizedesc {
									font-size: 16px;
								}
							}
						}
					}
				}
			}
		}

	@media screen and (min-width: 1446px) {
		section#refer {

			section#prizehero {
				.prizes {
					ul{
						li{
							max-width: 24%;

							p.prizedesc {
								font-size: 20px;
							}
						}
					}
				}
			}
		}
	}
}