/**************************************
GENERAL STYLES 
**************************************/
html, body {height: 100%;}

body {
	width: 100%;
	color: #4F6177;
	margin: 0;
	padding: 0;
	font-family: "Sentinel SSm A", "Sentinel SSm B";
	font-style: normal;
	font-weight: 300;
	

	section#prehome, section#alpha {
		background-color: #cfebef;
		height: 100%;
		header {
			text-align: center;
			margin: 0;
			padding: 0;
			height: 80px;
			img {
				position: relative;
				height: 50%;
				width: auto;
				padding: 20px 0;
			}
		}

		.headline {
			margin: 0;
			padding: 5px 0;
			text-align: center;
			h1 {
				position: relative;
				display: block;
				color: #fff;
				margin: 0;
				padding: 0 40px;
				color: #4F6177;
			}
		}
		.heroImg{
			width: 90vw;
			padding: 0 0 100px 0;
			margin: 0 auto 100px;
			img {
				width: 100%;
			}
		}

		.formtext{
			background-color: #89CFD7;
			display: block;
			position: fixed;
			bottom: 0;
			margin: 0;
			padding: 0;
			width: 100%;

			h3 {
				font-family: "Gotham SSm A", "Gotham SSm B";
				position: relative;
				text-align: center;
				color: #fff;
			}

			form{ 
				margin: 0 auto;
				width: 100%;
				input {
					display: inline-block;
					width: 80%;
					margin: 0;
					padding: 0;
					outline: none;
					font-size: 17px;
					text-align: center;
					color: #89CFD7;
					border: none;
					-webkit-appearance: none;
					-webkit-border-radius: 0;
					border-radius: 0;
				}
				.button{
					background-color: #4f6177;
					color: white;
					width: 20%;
					outline: none;
					border: none;
					margin: 0;
					padding: 0;
					margin-left: -1% !important;
					font-size: 13px;
					position: relative;
					top: -1px;
				}
				input::-webkit-input-placeholder {
				   color: #89CFD7;
				   text-align: center;
				   font-size: 15px;
				}

				input:-moz-placeholder { /* Firefox 18- */
				   color: #89CFD7;
				   text-align: center;
				   font-size: 15px;
				}

				input::-moz-placeholder {  /* Firefox 19+ */
				   color: #89CFD7;
				   text-align: center;
				   font-size: 15px;
				}

				input:-ms-input-placeholder {  
				   color: #89CFD7;
				   text-align: center;
				   font-size: 15px;
				}
			}
		}
	}

	section#alpha {
		background: url('Tulip_Landing_Page_Desktop_Test_4_20151111.jpg');
		background-size: cover;

		.headline {
			h1 {
				color: #fff;
			}
		}

		.formtext{
			background-color: #F7F3F2;
			h3 {
				color: #4F6177;
			}
		}
	}

	@media only screen and (max-width : 494px) {
		section#prehome {
			header {
				height: 80px;
				img {
					height: 50%;
				}
			}
		}
		section#alpha {
			background: url('Tulip_Landing_Page_Mobile_Test_4_20151111.jpg');
			background-size: 100vw auto;
			background-repeat: no-repeat;
		}
		.headline {
			h1 {
				font-size: 35px;
				font-weight: 100;
			}
		}
		.formtext{

			h3 {
				padding: 10px 0 10px;
				font-size: 10px;
			}
			form {
				input{ 
					height: 45px;
				}
				.button {
					height: 45px;
				}
			}
		}
	}
	
	@media only screen and (min-width : 495px) and (max-width : 767px) {
		section#prehome {
			header {
				height: 80px;
				img {
					height: 50%;
				}
			}
		}
		section#alpha {
			background: url('Tulip_Landing_Page_Tablet_Test_4_20151111.jpg');
			background-size: cover;
			background-repeat: no-repeat;
		}
		.headline {
			h1 {
				font-size: 35px;
				font-weight: 100;
			}
		}
		.formtext{
			h3 {
				font-size: 12px;
				padding: 20px 0 10px;
			}
			form {
				input{ 
					height: 45px;
					margin-bottom: 20px !important;
				}
				.button {
					height: 45px;
				}
			}
		}
	}
	@media only screen and (min-width : 768px) and (max-width : 900px) {
		section#alpha {
			background: url('Tulip_Landing_Page_Tablet_Test_4_20151111.jpg');
			background-size: 100vw auto;
			background-repeat: no-repeat;
		}
	}
	@media only screen and (min-width : 768px) and (max-width : 1223px) {
		section#prehome {
			header {
				height: 80px;
				img {
					height: 50%;
				}
			}
			.headline {
				h1 {
					margin: 10vh 0 0 0 !important;
				}
			}
			.heroImg{
				padding: 0;
				margin: 20px auto 100px;
				text-align: center;
				img {
					width: 400px !important;
				}
			}
		}
		.headline {
			h1 {
				font-size: 35px;
				font-weight: 100;
			}
		}
		.formtext{
			h3 {
				padding: 20px 0 10px;
				font-size: 12px;
			}
			form {
				width: 60% !important;
				input{ 
					height: 45px;
					margin-bottom: 20px !important;
				}
				.button {
					height: 45px;
				}
			}
		}
	}

	@media only screen  and (min-width : 1224px) {
		section#prehome {
			header {
				height: 80px;
				img {
					height: 50%;
				}
			}
			.heroImg{
				padding: 0;
				margin: 0 auto 100px;
				text-align: center;
				img {
					width: 30%;
					max-width: 320px !important;
				}
			}
		}
		.headline {
			h1 {
				font-size: 35px;
				font-weight: 100;
				margin: 10vh 0 0 0 !important;
			}
		}
		.formtext{
			h3 {
				padding: 20px 0 10px;
				font-size: 12px;
			}
			form {
				width: 60% !important;
				input{ 
					height: 45px;
					margin-bottom: 20px !important;
				}
				.button {
					height: 45px;
				}
			}
		}
	}
}

/**************************************
REFER STYLES
**************************************/

section#refer{ 
	background-color: #fff;
	margin: 0;
	padding: 0;

	.mobileonly {
		display: none !important;
	}

	.mailTo {
		position: relative;
		text-align: center;
		margin: -20px auto 20px;
		text-decoration: none;
		color: #89CFD7;
	}

/**************************************
REFER HEADER STYLES
**************************************/

	header#refhome{
		height: 55px;
		color: #fff;
		background-color: #4F6177;
		font-size: 12px;
		margin: 0;
		padding: 20px 0 0 0;
		display: block;
		position: relative;
		text-align: center;
		box-sizing: border-box;

		#placenum {
			color: #89CFD7;
			font-size: 12px;
			margin: 0;
			padding: 0;
			font-family: "Gotham SSm A", "Gotham SSm B";
			font-style: normal;
			font-weight: 700;
		}

		.place {
			display: inline-block;
			display: absolute;
			text-transform: uppercase;
			margin: 0;
			padding: 0;
			font-family: "Gotham SSm A", "Gotham SSm B";
			font-style: normal;
			font-weight: 700;
		}
	}

/**************************************
REFER HERO STYLES
**************************************/

	.hero {
		background-color: #F7F3F2;
		margin: 0;
		padding: 0;
		text-align: center;

		h1 {
			margin: 20px 0 20px 0 !important;
			padding: 0 !important;
			font-size: 30px;
			font-family: "Sentinel SSm A", "Sentinel SSm B";
			font-style: normal;
			font-weight: 100;
		}
		p {
			font-family: "Gotham SSm A", "Gotham SSm B";
			font-weight: 800;
		}

		p.heropar {
			margin: 0 !important;
			padding: 30px 0 0 0 !important;
			font-size: 1.25em;
			font-family: "Gotham SSm A", "Gotham SSm B";
			font-style: normal;
			font-weight: 500;
		}

		img {
			margin: 0 0 -23px 0;
			padding: 20px 5px 0 5px;
			width: 60px;
		}

		.share {
			display: inline-block;
			margin: 0;
			padding-bottom: 50px;

			p {
				font-family: "Sentinel SSm A", "Sentinel SSm B";
				background-color: #fff;
				font-size: 20px;
				color: #2D4974;
				margin: 0;
				padding: 20px 20px;
				font-weight: normal;
				letter-spacing: -0.15px;
				font-size: 13px;
			}
			p.no-box {
				background-color: transparent;
				padding: 20px 5px;
			}
		}
		
	}

/**************************************
REFER PRIZE PROGRESS STYLES
**************************************/

	section#prizehero {
		margin: 0 auto;
		padding: 0;
		width: 85%;
		text-align: center;
		height: 70vh;
		
		p {
			font-family: "Gotham SSm A", "Gotham SSm B";
			font-style: normal;
			font-weight: 500;
			color: #2D4974;
			margin: 25px 0;
		}

		#copyright {
			font-size: 8px;
			font-family: "Gotham SSm A", "Gotham SSm B";
			position: relative;
			margin-bottom: 100px;
		}

		.progress {
			width: 100%;
			height: 26px;
			margin: 0 0 25px 0;
			padding: 0;
			border: 1px #4F6177 solid;
			border-radius: 15px;

			p {
				margin: 1px 0 0 0;
				padding: 3px 0 3px 0;
				color: #89CFD7;
				font-size: 15px;
				font-family: "Gotham SSm A", "Gotham SSm B";
				font-style: normal;
				font-weight: 500;
			}

			div.counter {
				position: relative;
				background: #fff;
				display: inline-block;
				margin: 0;
				padding: 0;
				width: 23%;
				height: 26px;
			}
			div.counter:after, div.counter:before {
				left: 100%;
				top: 50%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				z-index: 100;
			}
			div.counter:after {
				border-color: rgba(255, 255, 255, 0);
				border-left-color: #ffffff;
				border-width: 12px;
				margin-top: -12px;
				z-index: 100;
			}
			div.counter:before {
				border-color: rgba(79, 97, 119, 0);
				border-left-color: #4F6177;
				border-width: 13px;
				margin-top: -13px;
				z-index: 100;
			}
			div.final:before, div.final:after {
				border: none;
			}
			/* ---- SELECTED STYLES ----*/
			div.selected {
				position: relative;
				background: #4F6177;
				display: inline-block;
				margin: 0 0 0 -3px;
				padding: 0;
				opacity: 1.4;
			}
			div.selected:nth-of-type(1n) {
				max-width: 23%;
			}
			div.selected:after, div.selected:before {
				left: 100%;
				top: 50%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				z-index: 100;
			}
			div.selected:after {
				border-color: rgba(255, 165, 0, 0);
				border-left-color: #FFC866;
				border-width: 12px;
				margin-top: -12px;
				z-index: 100;
			}
			div.selected:before {
				border-color: rgba(45, 73, 116, 0);
				border-left-color: #4F6177;
				border-width: 13px;
				margin-top: -13px;
				z-index: 100;
			}

			div.selected p {
				position: relative;
				color: #fff;
				z-index: 102;
			}

			div.selected:nth-of-type(1n) {
				background-color: #FFC866;
			}

			div.selected:nth-of-type(2n) {
				background-color: #FFC866;
			}

			div.selected:nth-of-type(3n) {
				background-color: #FFC866;
			}

			div.selected:nth-of-type(4n) {
				background-color: #FFC866;
			}

			div#first {
				display: block;
				background-color: #FFC866;
				position: relative;
				width: 200px;
				height: 26px;
				margin: 0 0 -26px 0;
				padding: 0;
				border-radius: 15px;
			}
			div#close {
				display: inline-block;
				background-color: #FFC866;
				position: relative;
				width: 80px;
				height: 26px;
				margin: 0 0 0 -80px;
				padding: 0;
				border-radius: 15px;
				float: right;
				z-index: 101;
			}
		}

/**************************************
REFER PRIZE STYLES
**************************************/

		.prizes {
			width: 100%;

			ul {
				list-style: none;
				margin: 0;
				padding: 0;
				display: inline-block;

				li {
					margin: 0;
					padding: 0 0 25px 0;
					width: 70%;
					display: inline-block;
					border-radius: 20%;

					div.noShow {
						color: #4F6177;
						font-size: 1.35em;
						margin: 0 0 -15px 0;
						padding: 10px 0 0 0;
					}

					div.prizephoto { 
						height: 26vh;
						margin: 1em auto 0;

						img {
							position: relative;
							max-width: 100%;
							max-height: 100%;
							height: auto;
							margin: 0;
							padding: 0;
							z-index: 99;
						}
					}

					div.selected img {
						opacity: 1;
					}

					h2.prizecount {
						color: #4F6177;
						position: relative;
						font-size: 40px;
						font-family: "Gotham SSm A", "Gotham SSm B";
						font-style: normal;
						font-weight: 400;
						margin: -20px 0 -10px 0;
						padding: 70px 0 0 0;
						z-index: 100;
					}
					p.prizedesc {
						position: relative;
						color: #4F6177;
						font-size: 16px;
						font-family: "Gotham SSm A", "Gotham SSm B";
						font-style: normal;
						font-weight: 800;
						margin: 0 0 10px 0;
						padding: 0;
						z-index: 100;
					}
					div.circle {
						width: 2.5em;
						height: 2.5em;
						margin: 0 auto 0;
						padding: 0;
						border-radius: 100%;
						display: inline-block;
						position: relative;
					}
				}

				li.selected {
					opacity: 1;
				}

				.checked {
					background-color: #fff;
					border: 2px #fff solid !important;
				}

				div.circle img {
					width: 2em;
					height: 2em;
					margin: 0.25em 0;
					padding: 5px;
					border-radius: 30px;
					border: 2px #4F6177 solid;
				}
			}
		}
	}
}

@media screen and (min-width: 480px) {
	section#refer {

		.progress {
			display: block !important;
		}
			
		.hero {

			h1 {
				padding: 20px 0 5px 0;
				font-size: 45px;
			}

			p {
				margin: 10px 0 0 0;
				padding: 0;
			}

			.share {
				padding-bottom: 25px;
			}
		}

		section#prizehero {
			.prizes {
				ul{

					li{
						margin: 40px 0 0 0;
						width: 40vw;
						display: block;
						margin-bottom: 1em;

						p.prizedesc {
							font-size: 15px;
							font-weight: 800;
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 660px) {
	div.noShow {
		display: none;
	}
	section#prizehero {
	}
	.share {
		padding-bottom: 25px;
		p {
			font-size: 15px !important;
		}
	}
}

@media screen and (min-width: 892px) {
	section#refer {

		.hero {

			h1 {
				padding: 20px 0 12.5px 0;
				font-size: 45px;
			}

			p {
				margin: 0.5% 0;
				padding: 0;
				font-size: 20px;
			}
		}

		section#prizehero {
			.prizes {
				ul{
					li{
						width: 35vw;
						display: inline-block !important;
						margin-bottom: 1em;

						p.prizedesc {
							font-size: 15px;
							font-weight: 800;
						}
					}
				}
			}
		}
		.share {
			padding-bottom: 25px;
			p {
				font-size: 18px !important;
			}
		}
	}
}

@media screen and (min-width: 1081px) {
	section#refer {

		section#prizehero {

			.progress {

				div.counter {
					width: 24%;
				}
			}
			.prizes {
				ul{
					li{
						width: 30vw;
						display: block;
						margin-bottom: 1em;

						p.prizedesc {
							font-size: 15px;
							font-weight: 800;
						}
					}
				}
			}
		}

		.hero {

			h1 {
				padding: 20px 0 12.5px 0;
				font-size: 45px;
			}

			p {
				margin: 0.5% 0;
				padding: 0;
			}

			.share {
				padding-bottom: 25px;
				p {
					display: inline-block;
				}
			}
		}

		div#referBlock {
			display: block;
			.mobileonly {
				display: inline-block !important;
			}
		}
	}

	@media screen and (min-width: 1139px) {
			section#refer {

				section#prizehero {
					.prizes {
						ul{
							li{
								width: 20vw;
								display: inline-block;

								p.prizedesc {
									font-size: 15px;
									font-weight: 800;
								}
							}
						}
					}
				}
			}
			div#referBlock{
				display: block !important;
			}
		}

	@media screen and (min-width: 1447px) {
		section#refer {

			section#prizehero {
				.prizes {
					ul{
						li{
							width: 18vw;
							margin: 0 1vw;
							display: inline-block;

							p.prizedesc {
								font-size: 20px;
								font-weight: 800;
							}
						}
					}
				}
			}
		}
	}
}