/**************************************
GENERAL STYLES 
**************************************/

body {
	background-color: #E3F6FA;
	color: #2D4974;
	margin: 0;
	padding: 0;
	font-family: "Sentinel SSm A", "Sentinel SSm B";

	section#prehome {
		position: relative;
		height: 100vh;
		margin: 0;
		padding: 0;
		max-width: 85%;
		margin: 0 auto;
	}

/**************************************
PREHOME HERO STYLES 
**************************************/
	
	div.prehero {
		display: block;
		margin-top: -5%;
	}

	div.prehero div.text {
		margin: 13% auto 0;
		width: 100%;
	}

	div.prehero div.image {
		margin: 30% 0 0 0;
		padding: 0;
		width: 100%;
	}

	div.prehero div.image img {
		width: 100%;
		margin: 0;
		padding: 0;
	}

	div.prehero h1 {
		font-size: 2.75em;
		margin: 0 0 0.6em 0;
		padding: 0;
		line-height: 1.2;
		font-weight: 300;
	}

	div.prehero h2 {
		font-size: 1.125em;
		color: #00B7DE;
		font-weight: normal;
		line-height: 1.75;
		margin: 0;
		padding: 0;

		span {
			font-weight: bold;
			margin: 0;
			padding: 0;
		}
	}

/**************************************
PREHOME FORM STYLES
**************************************/
	

	form.new_preuser {
		position: absolute;
		top: 35%;
		width: 100%;
		padding-top: 5%;

		input#preuser_email {
			font-size: 1.125em;
			background-color: #E3F6FA;
			border: none;
			border-bottom: 3px solid #2D4974;
			border-bottom-style: dotted;
			padding: 0 0 7px;
			margin: 0;
			width: 100%;
		}
		input::-webkit-input-placeholder {
			color: #89A1B9;
			background-color: #E3F6FA;
			border: none;
		}
		input:-moz-placeholder {
    		color: #89A1B9;
    		background-color: #E3F6FA;
    		border: none;
		}

		input.button {
			border-radius: 5px;
			background-color: #2C4977;
			color: white;
			border: 1px black solid;
			font-size: 0.8125em;
			padding: 19px 30px;
			letter-spacing: 1px;
			margin: 35px 0 0 0;
			display: block;
		}
	}
}

@media screen and (min-width: 480px) {
	div.prehero div.text {
		max-width: 55%;
		float: left;
		display: inline-block;
	}

	div.prehero div.image {
		max-width: 45%;
		float: right;
		margin: 6.5% 0 0 0 !important;
		display: inline-block;
	}

	form.new_preuser {
		display: block;
		position: relative !important;
		top: 60%;
		width: 100%;
		margin: 0;
		clear: both;
	}	
}

@media screen and (min-width: 660px) {
	div.prehero div.text {
		max-width: 60.25 !important;
		padding: 5% 0 0 10% !important;
	}

	div.prehero div.image {
		width: 31.25% !important;
		margin: 6.5% 0 0 0 !important;
		padding: 0 !important;
	}

	div.prehero div.text h1 {
		font-size: 4.5em;
		margin: 0 0 0.4em 0;
		padding: 0;
		font-weight: normal;
	}

	div.prehero div.text h2 {
		font-size: 1.25em;
		margin: 0 0 0.6em 0;
		padding: 0;
		line-height: 1.2;
		font-weight: normal;
	}

	form.new_preuser {
		display: block;
		top: 0;
		width: 100%;
		margin: 0;
		clear: left;
		padding: 0 0 0 10%;

		input#preuser_email {
			display: inline-block;
			width: 35% !important;
		}
	}
}

@media screen and (min-width: 1166px) {
	form.new_preuser {

		input#preuser_email {
			width: 27.5% !important;
		}
	}
}